.wrapper {
  max-width: 1280px;
  margin: 60px auto 0;
}
.img {
  width: 100%;
}
.search-showroom {
  text-align: center;

  h3 {
    margin: 30px 0 10px 0;
    font-weight: 400;
    font-size: 26px;
  }
  p {
    margin: 0 0 10px 0;
    line-height: 21px;
    font-size: 1.3rem;
  }
}
.select-box {
  position: relative;
  margin: 40px 0 25px;

  &::before {
    content: "";
    height: 1px;
    width: 100%;
    max-width: 1280px;
    background-color: rgb(221, 221, 221);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    bottom: -25px;
  }

  select,
  input {
    height: 40px;
    width: 190px;
    border-radius: 4px;
    border-color: #ccc;
    color: rgb(67, 67, 67);
    font-size: 1.3rem;
    padding-left: 4px;
    margin-right: 12px;
    outline: none;
    cursor: pointer;
  }
  input {
    border: 1px solid #ccc;
  }
}
.searh-input {
  display: inline-block;
  position: relative;
}
.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  cursor: pointer;
}
.intro {
  text-align: center;
  margin: 100px 80px;
  h3 {
    margin: 30px 0 10px 0;
    font-weight: 400;
    font-size: 26px;
  }
  p {
    margin: 0 0 10px 0;
    line-height: 21px;
    font-size: 1.3rem;
  }
}
.sub-intro {
  display: flex;
  justify-content: space-between;
}

.intro-item {
  width: 30%;

  img {
    width: 100%;
  }
}
