.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px;
  border-bottom: 1px solid #ccc;
  background-color: var(--background);
}
.img {
  height: 30px;
  width: 90px;
  margin-right: 60px;
}

// category
.category-list {
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
.category-item {
  position: relative;
  list-style: none;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.1s ease-in-out;

  span {
    display: block;
    padding: 10px;
  }

  &::after {
    content: "";
    width: 80px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    top: 100%;
    left: 10px;
  }
  &:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    .subcategory {
      display: flex;
    }
  }
  &.active {
    color: var(--primary-color);
    transform: scale(1.1);
  }
}
.subcategory {
  padding: 12px;
  display: none;
  width: 160px;
  background-color: #fff;
  justify-content: space-between;
  position: absolute;
  left: 10%;
  flex-direction: column;
  margin-top: 10px;
  background-color: var(--background);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  z-index: 10;
}
.subcategory-item {
  display: flex;
  color: #000;

  span {
    display: block;
    padding: 6px 12px;
    font-weight: 500;
  }

  &:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    background-color: #fde7e7;

    .type-list {
      display: block;
    }
  }
}

.type-list {
  display: none;
  width: 150px;
  padding: 6px 12px;
  background-color: var(--background);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  position: absolute;
  top: -10%;
  left: calc(100% + 12px);
  font-size: 1.3rem;
  font-weight: 400;
  z-index: 10;

  &::after {
    content: "";
    width: 12px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    left: -12px;
    top: 0px;
  }
}
.type-item {
  color: #000;
  padding: 6px 0;
  &:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    background-color: #fde7e7;
  }
}

// search
.search {
  position: relative;
  margin: 0 10px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    width: 1px;
    height: 15px;
    background-color: #ccc;
  }

  input {
    width: 100px;
    padding: 8px 25px 8px 10px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.4s ease;
    cursor: pointer;
    &:focus {
      border: 1px solid #ccc;
      width: 200px;
    }
    &:not(:placeholder-shown) {
      border: 1px solid #ccc;
      width: 200px;
    }
  }
}
.search-icon {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}
.search-result {
  position: absolute;
  background-color: #fff;
  top: calc(100% + 10px);
  right: -50px;
  width: 350px;
  padding: 8px 14px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  z-index: 12;
  min-height: 100px;
  max-height: calc(100vh - 200px);

  &::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    position: absolute;
    top: -30px;
    right: 130px;
    z-index: 12;
  }
}
.product-item {
  display: flex;
  align-items: center;
  padding: 4px 0;
}
.product-img {
  height: 50px;
  object-fit: contain;
  margin-right: 8px;
}
.product-info {
  height: 100%;
}
.product-name {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 20px;
  padding: 2px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.product-price {
  font-size: 1.2rem;
  padding: 4px;
  font-weight: 500;

  .current-price {
    color: var(--primary-color);
    padding-right: 6px;
  }
  .cost {
    text-decoration: line-through;
  }
  span:first-child {
    text-decoration: none;
  }
}
.product-empty {
  font-size: 1.4rem;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

// account info
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 14px;
  cursor: pointer;
}
.bag-icon {
  position: relative;
  margin-left: 10px;
  font-size: 1.6rem;

  .quantity {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50%;
    color: var(--primary-color);
  }
}
.user-icon {
  font-size: 2rem;
}
