.product-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 10px;
  border: 1px solid rgb(255, 242, 242);
  box-shadow: rgba(213, 73, 73, 0.12) 0px 2px 6px;
  border-radius: 8px;

  &:hover {
    background-color: var(--background);
  }
}
.product-img {
  width: 100%;
  max-height: 65%;
  object-fit: cover;
  border-radius: 8px;
}

.product-new {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 4px;
  font-size: 1.2rem;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 20px;
  height: 40px;
  padding: 2px;
  margin-top: 6px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.product-price {
  font-size: 1.5rem;
  padding: 4px;
  font-weight: 500;

  .current-price {
    color: var(--primary-color);
    padding-right: 6px;
  }
  .cost {
    text-decoration: line-through;
  }
  span:first-child {
    text-decoration: none;
  }
}
.product-order {
  height: 105px;
}
.product-color {
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;

    margin: 4px 10px;
    line-height: 25px;
    font-size: 1.5rem;
    font-weight: 600;
    &.active {
      border: 1px solid rgb(250, 0, 0);
    }
  }
}
.color-pink {
  background-color: rgb(251, 210, 217);
}
.color-green {
  background-color: rgb(211, 245, 211);
}
.color-white {
  background-color: #fff;
}
.product-size {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    margin: 0 5px;
    line-height: 19px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 4px;

    &.active {
      background-color: #d8c0ff;
      color: var(--primary-color);
    }
  }
}

.product-add,
.product-buy {
  margin: 15px;
  margin-bottom: 0;
  padding: 8px 15px;
  border-radius: 6px;
  background-color: #d8c0ff;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid rgb(33, 33, 33);
  }
}
.product-sold {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
  font-weight: 400;
  font-size: 1.4rem;
  div {
    font-weight: 500;
    padding-bottom: 8px;
  }
}
