.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0 12px;
}
.header {
  text-align: center;
  padding: 40px 40px 20px 40px;
  h3 {
    padding: 12px 0px;
    font-size: 2.2rem;
    font-weight: 600;
  }
  p {
    font-size: 1.4rem;
  }
}
.option {
  text-align: right;
  padding-right: 15px;

  label {
    padding: 8px;
    font-size: 1.3rem;
    font-weight: 500;
  }
  select {
    outline: none;
    border: none;
    padding: 8px;
    margin-top: 15px;
    cursor: pointer;
  }
}
.container {
  display: grid;
  grid-gap: 12px;
  grid-template-areas:
    "h1 h2 h3 h4 "
    "h5 h5 h6 h7 "
    "h5 h5 h8 h9";
}
.item-1 {
  grid-area: h1;
}
.item-2 {
  grid-area: h2;
}
.item-3 {
  grid-area: h3;
}
.item-4 {
  grid-area: h4;
}
.item-5 {
  grid-area: h5;
}
.item-6 {
  grid-area: h6;
}
.item-7 {
  grid-area: h7;
}
.item-8 {
  grid-area: h8;
}
.item-9 {
  grid-area: h9;
}
